# Default ignored files
/../../evening_city /.idea/shelf/
/../../evening_city /.idea/workspace.xml
# Datasource local storage ignored files
/../../evening_city /.idea/dataSources/
/../../evening_city /.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../evening_city /.idea/httpRequests/
